# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/Assets/AssetStoreTools*
#git rm -r --cached C\Us....
#git update-index --assume-unchanged C\....
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
